# OS X
.DS_Store
Info.plist

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.gch

# Executables
*.exe
*.out
*.app
cnatra


#logfile
log/
